<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body> 
        <div>
            <h3> Give details of image you want to see </h3>
            <form action="getObject" method="post">
            <p>Enter endpoint:</p> <input type="text" name="endpoint" />
            <p>Enter bucket name:</p> <input type="text" name="bucketName" />
            <p>Enter image name:</p> <input type="text" name="imageName" /><br><br>
               
                <input type="submit" value="Submit" />
            </form>          
        </div>
       
    </body>
</html>